{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Django Realtime Using Socket.IO and NodeJS</title>
        <link rel="stylesheet" href='{% static "lib/chessboard-0.3.0.min.css" %}' type="text/css" />
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>


        <!-- change the IP to yours -->
        <script src="http://localhost:4000/socket.io/socket.io.js"></script>
        
        Hi {{user.username}}!!

        <div id='board' style="width: 400px"></div>
        <script src='{% static "lib/chess.min.js" %}'></script>
        <script src='{% static "lib/chessboard-0.3.0.min.js" %}'></script>
        <script src='{% static "main.js" %}'></script>
    </body>
</html>